:root {
    --deep-forest: #2F3E46;
    --forest-green: #354F52;
    --grass-green: #52796F;
    --light-green: #84A98C;
    --off-gray: #CAD2C5;
    --off-white: #EDEDED;

    --error-color: rgb(252, 101, 101);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background: var(--deep-forest);
    overflow-x: hidden;
}

button:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

/* HEADER */

header{
    padding: 20px;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--light-green);
    border-bottom: 5px var(--grass-green) solid;
}

header > h1{
    color: var(--off-white);
    font-size: xx-large;
    font-weight: 500;
    /* color: var(--forest-green); */
}

/* PAGE */

.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    max-width: 85%;
}

.page > .title{
    padding: 50px;
    text-align: center;
    font-size: large;
    color: var(--off-white);
}

.page > .title > h2{
    font-weight: 400;
}

.page > .content{
    display: flex;
    justify-content: space-around;
}

.page > .content > .form {
    background-color: var(--deep-forest);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}

.page > .content > .form > .form-in{
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page > .content > .form > .term-inicial{
    display: flex;
    max-width: 250px;
    align-items: center;
    gap: 19px;
}

.form-in > label{
    position: absolute;
    top: 5px;
    left: 25px;
    background-color: var(--deep-forest); /* Cor do fundo da área ao redor da label */
    padding: 0 5px;
    font-size: 14px;
    color: var(--off-white); /* Cor do texto da label */
}

#insert_file{
    display: none
}

.page > .content > .form > .form-in > input,  .page > .content > .form > .term-inicial > input {
    padding: 6px 10px 6px 10px;
    max-width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 2px var(--light-green) solid;
    font-size: medium;
    outline: none;
    background-color: var(--deep-forest);
    color: var(--off-gray);
} 
.page > .content > .form > .form-in > input::placeholder,  .page > .content > .form > .term-inicial > input::placeholder {
    color: var(--light-green);
} 

.page > .content > .form > .form-in > input:focus,  .page > .content > .form > .term-inicial > input:focus {
    border: 3px solid var(--off-gray);
} 

.page > .content > .form > .term-inicial {
    padding: 10px;
    font-size: 14px;
    color: var(--off-white);
} 

.page > .content > .form > .term-inicial > input {
    max-width: 80px;
    color: var(--off-white);
    background-color: var(--deep-forest);
} 
.page > .content > .form > .term-inicial > input::placeholder {
    max-width: 80px;
    color: var(--light-green);
    background-color: var(--deep-forest);
} 

.form > .form-in > .prod_button{
    padding: 10px 5px;
    align-items: center;
}

.form > .form-in > .prod_button > .btn{
    display: flex;
    justify-content: space-evenly;
}


.form > .form-in > .prod_button > .btn > button{
    background-color: var(--off-white);
    padding: 5px 10px;
    
    border-radius: 10px;
    border: 2px var(--off-white) solid;
    color: var(--deep-forest);
    font-weight: bold;
}

.form > .form-in > .prod_button > .btn > button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--light-green);
    border-color: var(--light-green);
}

/* ERROR MESSAGE */
.warning_message {
    color: var(--error-color);
    border: 2px var(--error-color) solid;
    border-radius: 8px;
    padding: 5px 5px 10px;
    margin-top: 20px;
    width: 400px;
    height: auto;
    word-break: break-word;
}

#error_message-area {
    display: none;
    width: 200px;
}

.warning_message > h3{
    font-size: 15px;
    text-align: center;
    line-height: 2em;
} 
.warning_message > p{
    font-size: 12px;
    text-align: center;
} 


/* FILE INPUT */
.page > .content > .form > .ou{
    color: var(--off-gray);
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.page > .content > .form > .file-btns {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 15px;
}

.page > .content > .form > .file-btns > button {
    background-color: var(--off-white);
    padding: 6px 10px;
    border-radius: 10px;
    color: var(--forest-green);
    text-decoration: none;
    border: none;
}

.page > .content > .form > .file-btns > .input-file{
    padding: 8px 15px;
    border-radius: 10px;
}

.page > .content > .form > .file-btns > .input-file:hover,
.page > .content > .form > .file-btns > .input-file:hover > label:hover{
    cursor: pointer;
}

.page > .content > .form > .file-btns > button > label,
.page > .content > .form > .file-btns > button > a {
    color: var(--forest-green);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.page > .content > .form > .file-btns > button:hover {
    transition: 0.2s;
    background-color: var(--light-green);
}

/* GRAMMAR */

.page > .content > .g-hint {
    position: relative;
    background-color: var(--deep-forest);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page > .content > .g-hint > label{
    position: absolute;
    top: 9px;
    left: auto;
    padding: 0 5px;
    font-size: 14px;
    color: var(--off-white);
    background-color: var(--deep-forest);
}

.page > .content > .g-hint > .g-hint-box{
    border: 2px solid var(--light-green);
    width: 325px;
    min-height: 250px;
    height: auto;
    border-radius: 15px;
    padding: 15px;
}


.page > .content > .g-hint > .g-hint-box > p{
    line-height: 1.5;
    font-size: medium;
    color: var(--off-gray);
}

.page > .content > .g-hint > .grammar-btn > button {
    margin: 25px;
    padding: 12px 15px;
    border-radius: 15px;
    background-color: var(--light-green);
    border: none;
    color: var(--deep-forest);
    font-size: 15px;
    font-weight: 600;

}

.page > .content > .g-hint > .grammar-btn > button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--off-white);
}
.page > .content{
    margin-bottom: 80px;
}

/* FOOTER */

footer {
    margin: 0;
    width: 100%;
    justify-content: center;
    background-color: var(--light-green);
    padding: 20px 10px;
}

footer > .project-info {
    /* background-color: rgba(255, 0, 0, 0.2); */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
}

/* FOOTER > GROUP */

footer > .project-info > .group-info {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.3); */
    max-width: 400px;
    /* margin-left: 100px; */
    padding-right: 90px;
}

footer > .project-info > .group-info > .title > h3 {
    font-size: 25px;
    font-weight: 600;
    color: var(--forest-green);
    text-align: center;
}

footer > .project-info > .group-info > .group-member {
    /* background-color: rgba(255, 0, 0, 0.354); */
    display: flex;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 30px;
}

footer > .project-info > .group-info > .group-member > .member-info{
    /* background-color: rgba(255, 0, 0, 0.354); */
    display: flex;
    width: 400px;
}

footer > .project-info > .group-info > .group-member > .member-info > p{
    /* background-color: rgba(255, 0, 0, 0.354); */
    display: flex;
    width: 100%;
}

footer > .project-info > .group-info > .group-member:hover {
    transition: 0.5s;
    background-color: var(--forest-green);
    border-radius: 30px;
}
footer > .project-info > .group-info > .group-member:hover > .member-info > p{
    transition: 0.2s;
    color: var(--off-gray);
}

footer > .project-info > .group-info > .group-member:hover > .member-info > .icons > a > i{
    color: var(--light-green)
}
footer > .project-info > .group-info > .group-member:hover > .member-info > .icons > a > i:hover{
    color: var(--off-white)
}

footer > .project-info > .group-info > .group-member > .member-profile {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

footer > .project-info > .group-info > .group-member > .member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin-left: 20px;

    font-size: larger;
    font-weight: 500;
    color: var(--forest-green);
}
footer > .project-info > .group-info > .group-member > .member-info > .icons > a, 
footer > .project-info > .group-info > .group-member > .member-info > .icons > a:visited,
footer > .project-info > .group-info > .group-member > .member-info > .icons > a:active {
    color: var(--off-white);
    font-size: x-large;
    text-decoration: none;
}

footer > .project-info > .group-info > .group-member > .member-info > .icons > a:hover{
    color: var(--forest-green);
}


/* FOOTER > ABOUT */
footer > .project-info > .about {
    /* background-color: rgba(255, 0, 0, 0.2); */
    color: var(--forest-green);
    text-align: center;
    padding: 0 110px;
}

footer > .project-info > .about > .title >  h2 {
    line-height: 2.5;
}

footer > .project-info > .about > .subtitle >  h3 {
    line-height: 2.5;
    margin-bottom: 15px;
}

footer > .project-info > .about > .textbody >  p {
    line-height: 1.5em;
}

footer > .project-info > .about > .repository-btn > button {
    background-color: var(--deep-forest);
    margin-top: 35px;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

footer > .project-info > .about > .repository-btn > button > a,
footer > .project-info > .about > .repository-btn > button > a:visited,
footer > .project-info > .about > .repository-btn > button > a:active{
    color: var(--off-gray);
    text-decoration: none;
    display: flex;
    gap: 5px;
}
footer > .project-info > .about > .repository-btn > button > a > i{
    font-size: 22px;
    color: var(--light-green);
}

footer > .project-info > .about > .repository-btn > button:hover{
    transition: 0.2s;
    background-color: var(--grass-green);
    color: var(--off-gray);
}

footer > .project-info > .about > .repository-btn > button:hover > a > i{
    transition: 0.2s;
    color: var(--off-white);
}
footer > .project-info > .about > .repository-btn > button:hover > a{
    transition: 0.2s;
    color: var(--off-gray);
}