*{
    margin: 0;
    padding: 0;
}

.jost-f {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

body {
    background: #EDEDED;
    color: #344E41;   
}

header{
    background-color: #344E41;
    padding: 20px;
    text-align: center;
    color: #DAD7CD
}


div + div {
    margin-left: 10px;
}

button {
    font-weight: bold;
    background-color: #344E41;
    border: 5px solid #344E41;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
    overflow: auto;
}

th, td {
    border-left: 2px solid;
    border-right: 2px solid;
    font-size: larger;
}

hr {
    margin: 4% 0;
}

footer {
    margin-top:32px;
    text-align: center;
    display: grid;
}

a:link {
    color:  #344E41
}

a:visited {
    color:  #A3B18A
}

.g-main {
    width: 100%;
}

.page {
    margin: 50px auto 0;
    display: flex;
    max-width: 85%;
}

.page .g-container {
    float: left;
}

.page .g-quadro {
    margin-left: 2%;
}

.g-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 32px;
    float: lef;
}

.page .g-box {
    background-color: #588157;
    
}

.page .pg-elem {
    flex: auto;
    width: auto;
}

/* FOOTER */



/* ###################################### */

#page2 {
    display: none;
}

#table_end_symbols {
    border: 1px solid #dededf;
    padding: 5px;
}

#tablecontent_productions {
    border: 1px solid #dededf;
    padding: 5px;
}

#add_production, #remove_production {
    width: 24px;
    background-color: #3A5A40;
    border: 3px solid #3A5A40;
    border-radius: 5px;
}

#example_table {
    width: 100%;
}

#production_table {
    display: none;
}
